from pymysql.connections import Connection

cnx = None

def get_connection():
    global cnx
    if cnx is None:
        config = {
            'user': <username>,
            'password': <password>,
            'host': 'localhost',
            'database': 'cs4400',
        }
        cnx = Connection(**config)
    return cnx
