<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">

  {% block meta %}
    <meta name="description" content="">
    <meta name="author" content="">
  {% endblock %}

  {% assets "common_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}

  {% block css %}
  {% endblock %}

</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="nav navbar-nav navbar-left">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">Home</a>
        {%block navbar_items %}
          {% if current_user.is_admin %}
            <a class="btn btn-default navbar-btn" href="{{ url_for('admin.home') }}">Admin</a>
          {% endif %}
        {% endblock %}
      </div>
      <div class="nav navbar-nav navbar-right"> 
        {% if not current_user.is_authenticated %}
          <a class="btn btn-default navbar-btn" href="{{ url_for('main.login') }}">Login</a>
        {% else %}
          <p class="navbar-text">Hello
            <a class="navbar-link" href="{{ url_for('main.edit_user') }}">{{ current_user.username }}</a>!
            <a class="navbar-link" href="{{ url_for('main.logout') }}">Logout</a>
          </p>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}
  </div>

  {% assets "common_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>
</html>
